.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* My Styles */
.bg-navBar {
	background-color: #e6e1e1;
}
.title-dyc {
	font-family: "Beau Rivage", cursive;
	color: #494848;
	font-size: 2em;
	font-weight: 500;
}
.container-counter {
	box-shadow: 0px 0px 10px 1px rgba(148, 148, 148, 0.588);
	width: 200px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px 0px;
}
.container-btn {
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px;
}
.tbtn-cart {
	display: flex;
	justify-content:  space-between;
}
.bg-personal {
	background-color: #af7784;
	color: #ffff;
}

/* Estilos del Item.jsx */
.item-card {
	width: 250px;
	height: 254px;
	padding: .8em;
	background: #f5f5f5;
	position: relative;
	overflow: visible;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   }
   
   .item-card-img {
	background-color: #ffcaa6;
	height: 100%;
	width: 100%;
	border-radius: .5rem;
	transition: .3s ease;
   }
   .item-img {
	height: 100%;
	border-radius: 3px;
   }
   
   .item-card-info {
	padding-top: 10%;
   }
   
   .item-svg-icon {
	width: 20px;
	height: 20px;
   }
   
   .item-card-footer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
	border-top: 1px solid #ddd;
   }
   
   /*Text*/
   .item-text-title {
	font-weight: 900;
	font-size: 1.2em;
	line-height: 1.5;
   }
   
   .item-text-body {
	font-size: .9em;
	padding-bottom: 10px;
   }
   
   /*Button*/
   .item-card-button {
	border: 1px solid #252525;
	display: flex;
	padding: .3em;
	cursor: pointer;
	border-radius: 50px;
	transition: .3s ease-in-out;
   }
   
   /*Hover*/
   .item-card-img:hover {
	transform: translateY(-15%);
	box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
   }
   
   .item-card-button:hover {
	border: 1px solid #af7784;
	background-color: #af7784;
   }
   